@charset "utf-8";
/* CSS Document */
*{
    font-family: "DM Dans", sans-serif ;
    text-wrap: balance;
    box-sizing: border-box;
}

h1 {
    font-family: "Bricolage Grotesque", sans-serif ;
    font-size: 4rem;
    font-weight: 700;
    color: rgb(3, 3, 98);
    line-height: 2vh;
}

h2 {
    line-height: 3vh;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 2rem;
    color: rgb(3, 3, 98)
}    

h3 {
    line-height: 4vh;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1.5rem;
    color: rgb(3, 3, 98);
}

h4 {
    font-size: 1rem;
    color: rgb(3, 3, 98);
}

p {
    font-family: "DM sans", sans-serif;
    font-size: 13px;
}

ul {
    font-family: "DM sans", sans-serif;
    font-size: 13px;
}

nav {
    background-color: rgb(3, 3, 98);
    height: 8vh;
    padding: 15px;
    border: 0;
    margin-bottom: 15px;
    border-radius: 20px;
    display: flex; justify-content: space-evenly;
    align-items: center;
}

#cuerpo { 
    display: flex; justify-content: left;

}

#sobre-mi {
    background-color: rgba(3, 3, 98, 0.478);
    border-radius: 20px;
    height: 95vh;
    width: 20vw;
    padding: 35px;
}

#informacion {
    padding-left: 45px;
    border: 0;
    height: 95vh;
}

.bloque {
    line-height: 2.5vh;
}
